{% extends "card/base.html" %}
{% block content %}
    <h1 class="mb-3"> {{ view.category.name }} flashcards ({{ page_obj.paginator.count }}) </h1>

    {% for card in cards %}

        {% if forloop.first %}
            <div class="row">
        {% endif %}

        <div class="col-sm-5 mb-3 mr-1">
            <div class="card" style="max-width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Category: {{ card.category.name }}</h6>
                    <h5 class="card-title"><a href="{% url "card-detail" card.category.id card.id %}">{{ card.question }}</a></h5>
                    <div class="collapse" id="viewAnswer-{{ card.id }}">
                        <p class="card-text mb-4">{{ card.answer }}</p>
                    </div>

                    <a class="btn btn-outline-info btn-sm" data-toggle="collapse" href="#viewAnswer-{{ card.id }}"
                       role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        View Answer</a>
                </div>
            </div>
        </div>
    {% if forloop.counter|divisibleby:2 %}</div>
        <div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}

    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}


    {% endif %}

{% endblock content %}}
